<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- 
		<bean id="loginInterceptor"
		class="com.ibm.crl.scm.scpm.lenovo.resourcemanagement.controller.LoginInterceptor">
		<property name="roleService" ref="roleService"></property>
		</bean>
	-->

	<bean id="urlHandlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<!-- 
			<property name="interceptors">
			<list>
			<ref local="loginInterceptor" />
			</list>
			</property>
		-->
		<property name="mappings">
			<props>
				<prop key="cat.mvc">catController</prop>
				<prop key="catMulti.mvc">catController</prop>
			</props>
		</property>
	</bean>

	<bean id="catController"
		class="com.helloweenvsfei.spring.mvc.CatController">
		<property name="catService" ref="catService"></property>
	</bean>

	<bean id="paraMethodResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName">
			<value>action</value>
		</property>
		<property name="defaultMethodName">
			<value>list</value>
		</property>
	</bean>
	
	<bean id="catMultiController"
		class="com.helloweenvsfei.spring.mvc.CatMultiController">
		<property name="catService" ref="catService"></property>
	</bean>


</beans>